# Data
data/raw/
data/processed/
*.zip

# Models
models/checkpoints/
*.pt
*.pth

# Python
__pycache__/
*.pyc
.venv/
venv/

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/gradle/
android/*.hprof

# IDE
.vscode/
.idea/

# OS
.DS_Store
kaggle.json
dummy_prescription.jpg
